
@using ValueScreener.Models.Domain
@model ValueScreener.Models.ViewModels.NetNetScreenerViewModel

<br/>
<form asp-controller="NetNetScreener" asp-action="Index" Method="get">
    <div class="form-group">
        <p> <label class="control-label"> Discount Min To NCAV (%)</label> : <input type="number" name="discountMin" value="@Model.DiscountLimit"/>
            
                <label class="checkbox-inline"><input type="checkbox"  asp-for="IncludeHealthCareStocks"><strong>Include Health Care Stocks</strong></label>
           
            
                <label class="checkbox-inline"><input type="checkbox"  asp-for="IncludeChineseStocks"><strong>Include Chinese Stocks</strong></label>
            
        <input type="submit" value="Screen!" class="btn btn-primary"/>
        </p>
    </div>
</form>
<br/>
<div class="row">
    <table class="table table-striped">
        <tr>
            <th>Ticker</th>
            <th>Company Name</th>
           
            <th> Discount on NCAV %</th>
            <th> Market Cap</th>
            <th> Sector</th>
           
        </tr>
        @foreach (var stock in Model.Stocks)
        {
            <tr>
                <td> <a asp-controller="Stocks" asp-action="Details" asp-route-id="@stock.Id"> @stock.Ticker  </a></td>
                <td> <a asp-controller="Stocks" asp-action="Details" asp-route-id="@stock.Id"> @stock.Name  </a></td>
               
                <td> @stock.PricingResult.DiscountOnNcav</td>
                <td> @stock.MarketData.MarketCapitalization</td>
                <td> @stock.Sector</td>
              
            </tr>
        }
    </table>
</div>
